@import 'variables';

.modal{
    .modal-content{
        
        background-color: $gris-soccer-coach;

        .close{
            color:white
        }

        button{
            &:focus{
                outline: none;
            }
        }

        .modal-header{
            color:white;
            background-color: $color-soccer-coach-opacy;
        }

        .modal-body{
            background-color: $gris-soccer-coach;
            .form-control{
                border: none;
                border-bottom: 3px solid $color-soccer-coach-opacy;
                border-right: 1px solid $color-soccer-coach-opacy;
                border-left:1px solid $color-soccer-coach-opacy;
                border-radius: 0;

                &:focus{
                    outline:none;
                    box-shadow:0 0 0 0.1rem $color-soccer-coach-opacy;
                }
            }
        }
        .modal-footer{
            background-color: $color-soccer-coach-opacy;
            color:white;
            .btn{
                background-color: $color-action;
                color:white;     
                border-radius: 1.2rem;
                width: 100px;
                &:hover{
                    background-color: $color-action-selected;
                }

                &:focus{
                    box-shadow: none;
                }
                
            }
        }
    }
}